pandas~=2.2.2
matplotlib~=3.9.0
scipy~=1.10.1
seaborn==0.12.2
numpy==1.26.4
scikit-learn==1.4.2
statsmodels==0.14.0
transformers==4.40.2
bert-extractive-summarizer==0.10.1
textblob==0.18.0.post0
nltk==3.8.1
vader-multi==3.2.2.1 
spacy==3.7.4
flair==0.13.1
wordcloud==1.9.3
openai==1.30.4
gensim==4.3.2
lightgbm==4.4.0
plotly~=5.22.0
dash~=2.17.1
pyLDAvis~=3.4.1
tenacity~=8.3.0
joblib~=1.4.2